<!-- app.component.html -->

<mat-toolbar class="overflow-hidden">
  <mat-toolbar-row class="bg-purple py-3">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="text-gray-light">menu</mat-icon>
    </button>
    <h1 class="text-gray-light">My Dashboard</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened #sidenav>
    <div class="logo d-flex justify-center">
      <img width="50px" src="https://storage.googleapis.com/msgsndr/RKjSVFlud4tomMYa0uQc/media/64ef3895ba2ab0476877589d.png" alt="">
    </div>
    <mat-nav-list class="text-center">

      <div class="d-flex flex-column justify-content-center align-item-center mb-2 active p-2">
        <a mat-list-item>
          <mat-icon>dashboardoutlined</mat-icon>
          <div class="nav-item text-white">Dashboard</div>
        </a>
      </div>
      <div class="d-flex flex-column justify-content-center align-item-center mb-2 p-2">
        <a mat-list-item>
          <mat-icon>group</mat-icon>
          <div class="nav-item">Members</div>
        </a>
      </div>
      <div class="d-flex flex-column justify-content-center align-item-center mb-2 p-2">
        <a mat-list-item>
          <mat-icon>money</mat-icon>
          <div class="nav-item">Cash Games</div>
        </a>
      </div>
      <div class="d-flex flex-column justify-content-center align-item-center mb-2 p-2">
        <a mat-list-item>
          <mat-icon style="padding-top: 1px;">schedule</mat-icon>
          <div class="nav-item">Schedule</div>
        </a>
      </div>
      <div class="d-flex flex-column justify-content-center align-item-center mb-2 p-2">
        <a mat-list-item>
          <mat-icon>book</mat-icon>
          <div class="nav-item">Blog</div>
        </a>
      </div>
      <div class="d-flex flex-column justify-content-center align-item-center p-2">
        <a mat-list-item>
          <mat-icon>info</mat-icon>
          <div class="nav-item">Info</div>
        </a>
      </div>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="">
    <div class="overflow-x-hidden" style="height: 90lvh; background-color: black;">
      <div class="bg-gray-light row d-flex">
        <div class="col m-4 border-3 border-purple rounded-3 bg-white" [chart]="lineChart">

        </div>
        <div style="height: 50%;" class="col d-flex flex-column m-4 border-3 border-purple rounded-3 bg-white">
          <div style="height: 25%;" class="barChart d-flex">
            <div style="height: fit-content;" [chart]=" columnChart">
          </div>
          </div>
          <div style="height: 75%;" [chart]="donutChart" class="pieChart">

          </div>
        </div>
          <!-- another row -->
        <div style="width: 97%;" class="row bg-white p-4 border-3 border-purple rounded-3 mx-auto">
          <div class="col d-flex justify-center">
            <div class="bg-white p-4 border-3 border-purple rounded-3">
              <!-- Radial Progress Chart -->
              <!--The content below is only a placeholder and can be replaced.-->
              <!-- radial chart 1 -->
              <div style="text-align:center">
                <h1 class="font-bold my-2">Todays Tournament</h1>
                <circle-progress class="circle__progress"
                                 [percent]=75
                                 [animation]="true"
                                 [animationDuration]="300"
                                 [startFromZero]="true"
                                 [showInnerStroke]="true"
                                 [backgroundColor]="'transparent'"
                                 [outerStrokeColor]="'#df595d'"
                                 [titleFontSize]="'40'"
                                 [titleFontWeight]="'900'"
                                 [unitsFontSize]="'28'"
                                 [unitsFontWeight]="'900'"
                                 [subtitle]="''"
                                 [subtitleFontSize]="'0'"
                                 [lazy]="false"
                                 [showTitle]="true"
                                 [title]="'4'"
                                 [titleColor]="'#df595d'"
                                 [showSubtitle]="false"
                                 [showUnits]="false"
                                 [maxPercent]=10
                                 >
                </circle-progress>
              </div>
              <!-- radial chart 2 -->

            </div>
          </div>
          <!-- 2nd col -->
          <div class="col d-flex justify-center">
            <div class="bg-white p-4 border-3 border-purple rounded-3">
              <!-- Radial Progress Chart -->
              <!--The content below is only a placeholder and can be replaced.-->
              <!-- radial chart 2 -->
              <div style="text-align:center">
                <h1 class="font-bold my-2">Active Players</h1>
                <circle-progress class="circle__progress"
                                 [backgroundColor]="'transparent'"
                                 [innerStrokeColor]="'transparent'"
                                 [outerStrokeColor]="'#67a8dc'"
                                 [percent]=23
                                 [animation]="true"
                                 [animationDuration]="300"
                                 [startFromZero]="true"
                                 [showInnerStroke]="true"
                                 [titleFontSize]="'40'"
                                 [titleFontWeight]="'900'"
                                 [unitsFontSize]="'28'"
                                 [unitsFontWeight]="'900'"
                                 [subtitle]="''"
                                 [subtitleFontSize]="'0'"
                                 [lazy]="false"
                                 [showTitle]="true"
                                 [title]="'23'"
                                 [titleColor]="'#67a8dc'"
                                 [showSubtitle]="false"
                                 [showUnits]="false"
                                 [maxPercent]=10
                                 >
                </circle-progress>
              </div>
            </div>
          </div>
          <!-- 3 rd col -->
          <div class="col d-flex justify-center">
            <div class="bg-white p-4 border-3 border-purple rounded-3">
              <!-- Radial Progress Chart -->
              <!--The content below is only a placeholder and can be replaced.-->
              <!-- radial chart 3 -->
              <div style="text-align:center">
                <h1 class="font-bold my-2">Weekly Players</h1>
                <circle-progress class="circle__progress"
                                 [backgroundColor]="'transparent'"
                                 [innerStrokeColor]="'transparent'"
                                 [outerStrokeColor]="'#61a8dd'"
                                 [percent]=88
                                 [animation]="true"
                                 [animationDuration]="300"
                                 [startFromZero]="true"
                                 [showInnerStroke]="true"
                                 [titleFontSize]="'40'"
                                 [titleFontWeight]="'900'"
                                 [unitsFontSize]="'28'"
                                 [unitsFontWeight]="'900'"
                                 [subtitle]="''"
                                 [subtitleFontSize]="'0'"
                                 [lazy]="false"
                                 [showTitle]="true"
                                 [title]="'87'"
                                 [titleColor]="'#61a8dd'"
                                 [showSubtitle]="false"
                                 [showUnits]="false"
                                 [maxPercent]=10
                                 >
                </circle-progress>
              </div>
            </div>
          </div>
          <!-- 4th col -->
          <div class="col d-flex justify-center">
            <div class="bg-white p-4 border-3 border-purple rounded-3">
              <!-- Radial Progress Chart -->
              <!--The content below is only a placeholder and can be replaced.-->
              <!-- radial chart 3 -->
              <div style="text-align:center">
                <h1 class="font-bold my-2">Cash Games</h1>
                <circle-progress class="circle__progress"
                                 [backgroundColor]="'transparent'"
                                 [innerStrokeColor]="'transparent'"
                                 [outerStrokeColor]="'#9e5fde'"
                                 [percent]=88
                                 [animation]="true"
                                 [animationDuration]="300"
                                 [startFromZero]="true"
                                 [showInnerStroke]="true"
                                 [titleFontSize]="'40'"
                                 [titleFontWeight]="'900'"
                                 [unitsFontSize]="'28'"
                                 [unitsFontWeight]="'900'"
                                 [subtitle]="''"
                                 [subtitleFontSize]="'0'"
                                 [lazy]="false"
                                 [showTitle]="true"
                                 [title]="'16'"
                                 [titleColor]="'#9e5fde'"
                                 [showSubtitle]="false"
                                 [showUnits]="false"
                                 [maxPercent]=10
                                 >
                </circle-progress>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
